<link rel="stylesheet" href="/UBlog/assets/CSS/categories.css" />

<div id="categories">
	<table id="categories_t" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="categorie_item calibri_bold categorie_selected" value="all">All</td>
			<td class="categorie_item calibri_bold" value="art">Art</td>
			<td class="categorie_item calibri_bold" value="business">Business</td>
			<td class="categorie_item calibri_bold" value="education">Education</td>
			<td class="categorie_item calibri_bold" value="science">Science</td>
			<td class="categorie_item calibri_bold" value="society">Society</td>
			<td class="categorie_item calibri_bold" value="sport">Sport</td>
			<td class="categorie_item calibri_bold" value="technologies">Technologies</td>
		</tr>
	</table>
</div>